/*###################################################
    Folha de Estilo: MQ360 Mobile
    Autor: Leandro Eustaquio
###################################################*/

/*######### BASE #########*/
html,
body {
  height: 100%;
  color:#6B6B6B!important;
}

header{
	width:100%;
	padding:0;
	min-height:60px;
	height:auto;
	padding-top:.8rem;
	padding-left:.5rem;
	padding-right:.5rem;
	padding-bottom:.8rem;
	background: rgb(133,194,209);
	background: linear-gradient(266deg, rgba(133,194,209,1) 0%, rgba(68,158,180,1) 100%);
}

.azul{
	color:#67B2C4;
}

h1,h2,h3,h4,h5{
	font-weight:bold;
	letter-spacing:3px;
}

label{
	font-weight:bold;
}

.icon-input{
	position: absolute;
    top: 15%;
    opacity: 0.5;
    left: 92%;	
}

h3 span{
	font-weight:normal!important;
}


/*######### FIM BASE #########*/


/*######### COMPONENTES #########*/

/*Caixa*/
.caixa{
	padding-top:1rem;
}

.caixa.sombra{
-webkit-box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.27);
box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.27);
}

.caixa-selecao-inbox{
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	padding:1rem 1rem;
	margin-bottom:1rem;
}

.total-chamados span{
	border-bottom: 7px solid #71B6C8;
    width: 210px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

/*Fim Caixa*/

/*Chamado*/
.chamados{
	padding:10px 16px;
}

.chamado{
	width:100%;
	height:270px;
	border:1px solid #ddd;
	-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.18);
box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.18);
	font-size:14px;
	margin-bottom:1.5rem;
}

.chamado-cabecalho{
	padding:1.5rem 1.5rem;
	border-bottom:1px solid #ddd;
}

.chamado-numero{
	background-color:#394A4E;
	padding:.5rem;
	border-radius:10px;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	letter-spacing:1px;
}

.chamado-cliente{
	font-size:16px;
}

.chamado-corpo{
	padding:.5rem 1.5rem;
	border-bottom:1px solid #ddd;
}

.chamado-corpo p{
	margin-bottom:.5rem;
	line-height:16px;
}

.chamado-rodape{
	padding:1.5rem 1.5rem;
	text-align:right;
}

.chamado-conteudo-interno{
	padding:10px 16px;
}

.chamado-numero-retorno{
	width:100%;
	padding:.8rem 4rem;
	font-size:18px;
	background-color:#215967;
	margin-top:20px;
}

.chamado-comentario{
	width:100%;
	min-height:100px;
	background-color:#fff;
	border:1px solid #ddd;
	-webkit-box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.27);
	box-shadow: 0px 4px 6px -4px rgba(0,0,0,0.27);
	margin-bottom:1.5rem;
}


.chamado-comentario-cabecalho{
	background-color:#eeeeee;
	padding:.5rem .5rem;
	font-size:14px;
}

.chamado-comentario-registro{
	padding:0.5rem;
}

.chamado-comentario-pessoa-img{
	width:34px;
	height:32px;
	background-color:red;
	float:left;
}

.chamado-comentario-pessoa{
	float:left;
	padding-top:4px;
	padding-left:5px;
}




/*Fim Chamado*/


/*Botões*/

.botoes-lista{
	margin-top:.5rem;
	padding: 0;
}

.botoes-lista li{
	list-style:none;
	margin-bottom:1rem;
	background-color:#fff;
	color:#67B2C4;
	padding:.3rem 1rem;
	border-radius:5px;
}

.botoes-lista li i{
	margin-right:.5rem;
}

.botao-flutuante{
	position:fixed;
	bottom:10px;
	right:10px;
	width:48px;
	height:48px;
}

.btn{
	padding: .235rem 1.5rem!important;
}

.btn-circular{
	border-radius:100%;
	width:48px;
	height:48px;
	padding: 0!important;
	font-size:32px;
	line-height: 0;	
}

.botao-flutuante .btn-circular{
-webkit-box-shadow: 0px 0px 14px -5px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 14px -5px rgba(0,0,0,1);
box-shadow: 0px 0px 14px -5px rgba(0,0,0,1);
}

.btn-branco{
	background-color:#fff;
	color:#67B2C4;
}

.btn-azul{
	background-color:#67B2C4;
	color:#fff;
}

.btn-azul:hover{
	background-color:#2d6572;
}

.btn-laranja{
	background-color:#F89508;
	color:#fff;
	border:1px solid #F89508;
}

.btn-laranja:hover{
	background-color:#F89508;
	color:#fff!important;
}

.btn-outline{
	border:1px solid #707070;
	color:#707070;
}

.btn-titulo{
	color:#6B6B6B!important;
	opacity:0.9!important;
}

/*Fim Botões*/


/*Menu topo*/
.menu-topo a{
	margin-right:5px;
}
/*Fim Menu topo*/


/*Notificações*/
.notificacao-icone{
	font-size:30px;
	color:#fff;
	position:relative;
}

.notificacao-icone span{
	display:none;
}

.notificacao-icone.inativo{
	opacity: 0.4!important;
}

.notificacao-icone.ativo span{
	background-color:#d5532e;
	padding: 1px 7px;
	border-radius:100px;
	font-size:12px;
	font-weight:bold;
	display:inline-block!important;
	text-align:center;
	position:absolute;
	right:-8px;
}

.notificacoes{
	width:100%;
	height:100%;
	background-color:#fff;
	padding:.5rem;
	position:fixed;
	top:0;
	display:none;
}

.notificacoes-conteudo{
	height:80vh;
}

.notificacoes-lista{
	padding-top:1.8rem;
}

.notificacoes-lista li{
	list-style:none;
	margin-left:-40px;
	border-bottom:1px solid #ddd;
	padding-bottom:1rem;
	padding-top:1rem;
}

.notificacoes-lista li a{
	color:inherit!important;
}
.notificacoes-lista li a strong{
	color:#007bff!important;
}

/*Fim Notificações*/


/*Filtros*/
.filtros{
	width:100%;
	height:100%;
	background-color:#fff;
	position:fixed;
	top:0;
	display:none;
}

.filtro-tag{
	color: #fff;
    background-color: #696969;
    padding: .5rem .8rem .5rem .5rem;
	color:#fff;
	font-size:12px;
	border-radius:50px;
}

.filtros-selecionados .filtro-tag{
	display:inline-block;
	margin-bottom:.5rem;
}

/*Filtros avançados*/


/*Modal*/
.modal-azul{
	width:100vw;
	height:100vh;
	background-color:rgba(55,152,175,0.95);
	position:fixed;
	z-index:5000;
	top:0;
	color:#fff;
}

/*Fim Modal*/

/*Interações*/
.interacoes{

}

.interacoes-lista{
	width:95%;
	background-color:;
	right:0;
	position:absolute;
	bottom:75px;
}

.interacoes-lista li{
	color:#fff!important;
	list-style:none;
	font-size:24px;
	font-weight:bold;
	margin-bottom:1rem;
	border-bottom:1px solid #fff;
	padding-bottom:1.5rem;
	padding-right:5px;
}

.interacoes-lista li span{
	border:1px solid #fff;
	border-radius:10px;
	padding:5px 16px;
	margin-right:7px;
}

/*Fim interações*/

/*Barra Ferramentas*/
.barra-abas{
	width:100%;
	height:50px;
	background-color:#449EB4;
	position:fixed;
	bottom:0;
	-webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.19);
	box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.19);
}

.barra-abas ul {
	text-align:center;
	padding:0;
	border-bottom:0!important;
}

.barra-abas ul li{
	list-style:none;
	display:inline-block;
	color:#fff;
	font-size:16px;
}

.barra-abas ul li a{
	color:#fff;
	padding-top:.8rem;
}

.barra-abas ul li a.active{
	background-color:#4D4D4D!important;
	height:50px;
	font-weight:bold;
	border-radius:0;
	color:#fff!important;
	border:0;
}

.barra-abas ul li i{
	margin-right:5px;
}

.barra-ferramentas{
	width:100%;
	height:60px;
	background-color:#449EB4;
	position:fixed;
	bottom:0;
	-webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.19);
	-moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.19);
	box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.19);
}

.barra-fixa{
	width:100%;
	height:60px;
	border-top:1px solid #ddd;
	position:fixed;
	bottom:0;
	padding:.6rem;
}

.barra-fixa .btn{
	margin-right:.5rem;
}

/*Fim Barra Ferramentas*/

/*######### FIM COMPONENTES #########*/