/*###################################################
    Folha de Estilo: Área do cliente Mastermaq
    Autor: Leandro Eustaquio
    Ver: 0.2
    -->Data:17/08/2020
###################################################*/

/*######### BASE #########*/

.loading-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background-color: rgba(250,250,250,1.0);
	  z-index: 9990;
	  width:100%;
	  display:block;
	  text-align:center;
	}

.loading-item{
	margin-top:15vh;
}
.loading-item p{
	color:#fff;
}


html,
body {
  height: 100%;
}

.hide {
  display: none !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}

body.semscroll{
	overflow:hidden!important;
}

a{
	cursor:pointer!important;
}

header {
  background-color: #fff;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 6px 0px 2px rgba(237, 237, 237, 0.95);
  -moz-box-shadow: 0px 6px 0px 2px rgba(237, 237, 237, 0.95);
  box-shadow: 0px 6px 0px 2px rgba(237, 237, 237, 0.95);
}

header .navbar {
  padding: 0;
}

header .navbar-brand img {
  width: 25.5%;
}

header .navbar-brand {
  color: #cf1f24;
  font-size: 22px;
}

header .cliente-selecionado {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #cf1f24;
}

header .cliente-selecionado:focus {
  outline: none !important;
}


.titulo{
	font-size:22px;
	display:block;
	border-left:10px solid #ededed;
	height:60px;
	padding-top:0.8rem;
	padding-left:0.8rem;
}

.titulo span{
	border-bottom: 2px solid #cf1f24;
}

.meio {
  padding-top: 4em;
  min-height: 90vh;
  margin-bottom: 2em;
}

.conteudo {
  background-color: #fff;
  border: 1px solid #bfbfbf;
  padding: 15px;
  margin: 80px auto 0 auto;
  width: 100%;
}

.caixa-conteudo {
  background-color: #fff;
  border: 1px solid #bfbfbf;
  padding: 15px;
  margin: 0 auto 35px auto;
  width: 100%;
}

.caixa-conteudo-titulo {
  border-left: 10px solid #cf1f24;
  padding: 1rem 0.5rem 0.1rem 0.5rem;
  margin-top: -25px;
  margin-bottom: 20px;
}

.caixa-conteudo-titulo h2 {
  margin-bottom: 0;
}

.caixa-conteudo-descricao {
}

.caixa-conteudo-coluna{
	border:1px solid #e9e5e5;
	border: 1px solid #bfbfbf;
	padding: 1rem;
	width: 100%;
}


.caixa-conteudo-descricao::-webkit-scrollbar, .caixa-subconteudo::-webkit-scrollbar ,.scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.caixa-conteudo-descricao::-webkit-scrollbar-button, .caixa-subconteudo::-webkit-scrollbar-button,.scroll::-webkit-scrollbar-button, {
  width: 5px;
  height: 5px;
}
.caixa-conteudo-descricao::-webkit-scrollbar-thumb , .caixa-subconteudo::-webkit-scrollbar-thumb,.scroll::-webkit-scrollbar-thumb  {
  background: #747272;
  border: 0px none #ffffff;
  border-radius: 100px;
}
.caixa-conteudo-descricao::-webkit-scrollbar-thumb:hove, .caixa-subconteudo::-webkit-scrollbar-thumb:hover,.scroll::-webkit-scrollbar-thumb:hove {
  background: #4d4d4d;
}
.caixa-conteudo-descricao::-webkit-scrollbar-thumb:active, .caixa-subconteudo::-webkit-scrollbar-thumb:active, .scroll::-webkit-scrollbar-thumb:active {
  background: #4f4f4f;
}
.caixa-conteudo-descricao::-webkit-scrollbar-track, .caixa-subconteudo::-webkit-scrollbar-track,.scroll::-webkit-scrollbar-track {
  background: #c2c2c2;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.caixa-conteudo-descricao::-webkit-scrollbar-track:hover , .caixa-subconteudo::-webkit-scrollbar-track:hover,.scroll::-webkit-scrollbar-track:hover  {
  background: #c2c2c2;
}
.caixa-conteudo-descricao::-webkit-scrollbar-track:active, .caixa-subconteudo::-webkit-scrollbar-track:active,.scroll::-webkit-scrollbar-track:active {
  background: #c2c2c2;
}
.caixa-conteudo-descricao::-webkit-scrollbar-corner, .caixa-subconteudo::-webkit-scrollbar-corner,.scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.caixa-arrendondada {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5em 1em;
  height: 180px;
  position: relative;
}

.sublinhado::after {
  content: ' ';
  display: block;
  position: absolute;
  height: 5px;
  background: #5799c7;
  width: 10%;
  margin: auto;
  left: 0;
  right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 30px !important;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 20px !important;
}

h4 {
  font-size: 17px !important;
}

a {
  color: #0d76cb;
}

.form-control {
  background-color: #fdfdfd;
}

.vermelho {
  color: #cf1f24;
}

footer {
  background-color: red;
  padding: 2.5em 5em;
  width: 100%;
  background-color: #ededed;
}

/*Alturas*/


/*######### FIM BASE #########*/

/*######### LAYOUT #########*/

/*######### FIM LAYOUT #########*/

/*######### COMPONENTES #########*/

/*Login*/
.login{
	background-color:#ededed;
	width:100vw;
	height:100vh;
}

.login-caixa {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-45%, -50%);
	background-color:#fff;
	border:1px solid #ddd;
	border-bottom:4px solid #CF1F24;
	width:500px;
	height:400px;
   
}

.login-caixa .alert{
	padding:0.2rem 0.5rem;
}

.login-cabecalho{
	font-size:28px;
	color:#cf1f24;
	margin-top:-15px;
}

.login-campos{
	padding:2rem;
}

.login-campos label{
	font-size:18px;
}

/*Fim Login*/

/*Cliente*/
.tag-status{
	background-color:#000;
	color:#fff;
	font-size:14px;
	padding:0.2rem 0.4rem;	
}

.tag-status.ativo{
	background-color:#3EB55D!important;
}

.tag-status.novo{
	background-color:#3AA1BE!important;
}

.tag-status.bloqueado{
	background-color:#a600ed!important;
}

.tag-status.cancelado{
	background-color:#e20000!important;
}

.tabela1 .btn-confirmar{
	display:none!important;	
}

.pendencia{
	background-color:#fffee4;
	border: 2px solid #e6e3a5;
}

.tabela-sub .pendencia td{
	background-color:#fffee4!important;
}

.tabela1 .pendencia .btn-confirmar{
	display:inline-block!important;	
}


.icone-pendencia{
	display:none!important;
	color:#ff8e09!important;
}

.icone-bloqueado{
	display:!important;
	color:#A600ED!important;
}



.pendencia .icone-pendencia{
	display:inline-block!important;	
}

.pendencia td{
	
}

.cliente-link{
	color:#0d76cb;
	font-weight:bold;
	cursor:pointer;
}

.cliente-detalhes{
	background-color:#F7F7F7;
	border: 1px solid #b9b9b9!important;
}
.cliente-detalhes td{
	border-top: 2px solid #b9b9b9!important;
}

.cliente-detalhes ul.dados li{
	border-bottom:1px solid #ddd;
	font-size:14px;
	margin-bottom:0.5rem;
	padding-bottom:0.5rem;
}

.cliente-detalhes-col1{
	border-right:1px solid #000; 
}

/*Cliente*/

/*Chat*/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
	font-size:14px;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat .chat-body
{
    padding-bottom:1rem;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.chat-usuario{
	border-left:5px solid red;
	padding:0.2rem 0.5rem;
	margin-bottom:2rem;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: auto;
    height: 250px;
}

tbody{
	border-top: 1px solid #dee2e6!important;
}

/*Fim chat*/

/*Dashbaord*/
.dashboard{
	background-color:#353535;
	min-height:100px;
	height:auto;
	margin-bottom:2rem;
	color:#fff;
}

.dashboard-card-geral{
	background-color:#000000;
	width:100%;
	height:310px;
	text-align:center;
}

.dashboard-card-geral h1{
	font-size:50px!important;
}

.dashboard-lista{
	width:80%;
	margin:0 auto;
}

.dashboard-lista li{
	padding-bottom:0.5rem;
	margin-bottom:0.5rem;
	border-bottom:1px dashed #ddd;
}

.dashboard-item-resumo{
	background-color:red;
	margin-bottom:1rem;
	margin-top:1rem;
	min-height:150px;
	height:auto;
	border-radius:15px;
	text-align:center;
}

.dashboard-item-resumo span{
	display:block;
}

.dashboard-item-resumo span.numero{
	font-size:36px;
	font-weight:bold;
}

.dashboard-item-resumo span.descricao{
	font-size:28px;
	line-height:32px;
}

.dashboard-item-resumo hr{
	margin-bottom:0.2rem!important;
	margin-top:0.2rem!important;
}
.dashboard-item-resumo.ativo{
	background-color: #3EB55D!important;
    background-image: url(../img/estrela.png);
    background-size: 95px;
    background-repeat: no-repeat;
    background-position: 0 57px;
}

.dashboard-item-resumo.bloqueado{
	background-color: #a600ed!important;
    background-image: url(../img/bloqueado.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 0 -20px;
}


.dashboard-item-resumo.cancelado{
	background-color: #e20000!important;
    background-image: url(../img/cancelado.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position:200px 70px;
}


.dashboard-item-resumo-rodape{
	margin-top:0.5rem;
	padding:0.5rem;
	background-color:rgba(0,0,0,0.8);
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	cursor:pointer;
}

.dashboard-item-resumo-rodape.sem-pendencia{
	display:none;
}

/*Fim Dashbaord*/

/*Filtros*/
.filtros{
    background-color: #f7f7f7;
}
/*Fim Filtros*/


/*Alertas*/
.alerta-caixa{
	min-height:20vh;
	max-height:55vh;
	overflow-y:auto;
	padding-left:0.5rem;
	padding-right:0.5rem;
	margin-bottom:1rem;
}

.alerta-acoes{
	padding:1.5rem 1rem;
	border:1px solid #ddd;
	background-color: #f9f9f9;
}

.alerta-acoes button:nth-child(1){
	margin-right:0.5rem;
} 

/*Fim Alertas*/


/*Feed Blog*/
.feed-blog li:nth-child(1) {
  border-bottom: 0;
  padding-bottom: 1em;
  padding-top: 0;
}

.feed-blog li:nth-child(2) {
  border-top: 1px solid #ddd;
}

.feed-blog li:last-child {
  border-bottom: 0;
}

.feed-blog li {
  padding-top: 1em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}
/*Fim Feed Blog*/

/*Menu lateral*/

.menu-lateral {
  height: 100vh;
  padding: 0;
  padding-top: 70px;
}

.sidebar.collapse{
	display:block!important;
}

.sidebar {
  background-color: #ededed;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
}

.sidebar-sticky {
  position: relative;
  top: 63px;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

aside .menu-lateral {
  padding-top: 1.8em;
  font-size: 16px;
}

aside .menu-lateral img {
  margin-top: -0.65em;
  width: 32px;
  margin-right: 0.2rem;
}

aside .menu-lateral li {
}

aside .menu-lateral li a {
  color: #000;
  display: block;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

aside .menu-lateral li a .icone-ativo {
  display: none;
}

aside .menu-lateral li a.ativo {
  background-color: #fff;
}

aside .menu-lateral li a.ativo .icone-ativo {
  display: inline-block;
}

aside .menu-lateral li a.ativo {
  color: #cf1f24;
  font-weight: bold;
}

aside .menu-lateral li a.ativo:hover {
  background-color: #fff;
}

aside .menu-lateral li a:hover {
  text-decoration: none;
  background-color: #f9f9f9;
}

aside .menu-lateral li a.ativo .icone-normal {
  display: none;
}

/*Fim menu lateral*/

/*Menu perfil*/
.perfil {
  position: relative;
}

.perfil-foto {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #cf1f24;
  display: inline-block;
  text-align: center;
  text-align: center;
  padding-right: 0.1rem !important;
  padding-left: 0.1rem !important;
  border: 2px solid #cf1f24;
}

.perfil-foto i {
  font-size: 24px;
  color: #fff;
  margin-left: 0.17em;
  margin-top: -0.1em;
}

.perfil .dropdown-toggle::after {
  margin-left: 0.6em !important;
  color: #000;
  font-size: 13px;
}

.perfil .com-foto.dropdown-toggle::after {
  margin-left: 3.1em !important;
  color: #000;
  font-size: 13px;
}

.perfil .dropdown-menu {
	margin-left: -11.6em !important;
    min-width: 15rem;
}

.perfil p {
  font-size: 16px;
}

.perfil .dropdown-menu a {
  font-size: 14px;
}

/*Fim Menu perfil*/

/*Botões*/
.acao {
  cursor: pointer;
}

.btn {
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.btn:disabled,
.btn:hover:disabled,
.btn:focus:disabled {
  cursor: not-allowed;
  background-color: #dfd8d6;
  border: 1px solid;
}

.btn-principal {
  background-color: #ea7f01;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #ea7f01;
}

.btn-principal:hover,
.btn-principal:focus {
  color: #fff;
  background-color: #ff8e09;
  -webkit-transition: background 0.3s 0s ease;
  -moz-transition: background 0.3s 0s ease;
  -o-transition: background 0.3s 0s ease;
  transition: background 0.3s 0s ease;
  border: 1px solid #ff8e09;
}

.btn-principal-outline {
  color: #ea7f01;
  border: 1px solid;
  border-radius: 100px;
  background-color: transparent;
}

.btn-principal-outline:hover,
.btn-principal-outline:focus {
  color: #fff;
  background-color: #ff8e09;
  border: 1px solid #ff8e09;
  -webkit-transition: background 0.3s 0s ease;
  -moz-transition: background 0.3s 0s ease;
  -o-transition: bacwkground 0.3s 0s ease;
  transition: background 0.3s 0s ease;
}

.btn-secundario {
  background-color: #4696d6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #4696d6;
}

.btn-secundario:hover,
.btn-secundario:focus {
  color: #fff;
  background-color: #56b4ff;
  -webkit-transition: background 0.3s 0s ease;
  -moz-transition: background 0.3s 0s ease;
  -o-transition: background 0.3s 0s ease;
  transition: background 0.3s 0s ease;
  border: 1px solid #56b4ff;
}

.btn-secundario-outline {
  color: #4696d6;
  border: 1px solid;
  border-radius: 100px;
  background-color: transparent;
}

.btn-secundario-outline:hover,
.btn-secundario-outline:focus {
  color: #fff;
  background-color: #56b4ff;
  border: 1px solid #56b4ff;
  -webkit-transition: background 0.3s 0s ease;
  -moz-transition: background 0.3s 0s ease;
  -o-transition: background 0.3s 0s ease;
  transition: background 0.3s 0s ease;
}

.btn-negado {
  background-color: #4696d6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #4696d6;
}

.btn-excluir,
.btn-negar {
  color: #d90303;
  border: 1px solid;
  border-radius: 100px;
  background-color: transparent;
}

.btn-excluir:hover,
.btn-excluir:focus,
.btn-negar:hover,
.btn-negar:focus {
  color: #fff;
  background-color: #d90303;
  border: 1px solid #d90303;
  -webkit-transition: background 0.3s 0s ease;
  -moz-transition: background 0.3s 0s ease;
  -o-transition: background 0.3s 0s ease;
  transition: background 0.3s 0s ease;
}

.btn-default {
  color: #5a5a5a;
  border: 1px solid;
  border-radius: 100px;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
	color: #fff;
	background-color: #5a5a5a;
	border: 1px solid #5a5a5a;
	-webkit-transition: background 0.3s 0s ease;
	-moz-transition: background 0.3s 0s ease;
	-o-transition: background 0.3s 0s ease;
	transition: background 0.3s 0s ease;
}

.btn-default-branco{
	color: #fff;
	border: 1px solid;
	border-radius: 100px;
	background-color: transparent;
}

.btn-default-branco:hover,
.btn-default-branco:focus {
  color: #5a5a5a;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  -webkit-transition: background 0.3s 0s ease;
  -moz-transition: background 0.3s 0s ease;
  -o-transition: background 0.3s 0s ease;
  transition: background 0.3s 0s ease;
}


/*Fim Botões*/

/*Abas*/
.nav-tabs {
  border-bottom-color: #000;
}

.nav-tabs .nav-link {
  color: #000 !important;
}

.nav-tabs .nav-link:hover {
  border-bottom-color: #000;
}

.nav-tabs .nav-item {
  cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #000 #000 #fff;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  font-weight: bold !important;
}

.tab-content {
  padding-top: 10px;
}
/*Fim Abas*/

/*Tabela*/
.table th {
  border: 0;
  padding: 0.4rem;
  vertical-align: middle !important;
}

.table.tabela1 th {
  background-color: #ededed;
}

.table td {
  padding: 0.55rem;
  vertical-align: middle !important;
}

.table.tabela1 tr:nth-child(1) td {
  border-top: 0 !important;
}

.table button {
  zoom: 0.9;
}

.table button:nth-child(2) {
  margin-left: 0.5em;
}

.tabela-sub th, .tabela-sub td{
	background-color:#fff!important;
	font-size:14px;
}

/*Fim Tabela*/

/*Modal*/
.modal-header {
  padding: 0;
}

.modal-title {
  border-left: 8px solid #cf1f24;
  padding-left: 10px;
  padding: 1rem 1rem;
  margin-left: 16px;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: 0;
}

/*Fim Modal*/


/*Status servidor*/

.online{
	width: 13px;
    height: 13px;
    background-color: #82c18b;
    display: inline-block;
    margin-right: 5px;
    border-radius: 100%;
}

.offline{
	width: 13px;
    height: 13px;
    background-color: #ff5e3e;
    display: inline-block;
    margin-right: 5px;
    border-radius: 100%;
}



/*Fim Status servidor*/



/*######### FIM COMPONENTES #########*/

/*######### MOBILE #########*/
@media (max-width: 769px) {
	
body{
    padding-top: 1rem;
}	
	
header form{
	background-color: #3e3e3e;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0!important;
	padding-right: 0!important;
	zoom:0.9;
}

.sidebar.collapse{
	display:none!important;
}

.sidebar.collapse.show{
	display:block!important;
}


.sidebar-sticky {
    position: relative;
    top: 88px;
}	

.banner {
	display:none;
}


.navbar-nav{
    margin: 0;
    padding: 0.3rem 0 0 0!important;
    display: block;
    width: 100%;
    background-color: #292929;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #cf1f24;
    height: 55px!important;
}

header .navbar-nav li{
	padding:0!important;
	margin:0 0 0 0!important;
	display:inline-block;
}

header .navbar-nav li:nth-child(1) img{
	margin-top: -0.2rem;
}

header .navbar-nav li:nth-child(3){

}

header .navbar-nav li:nth-child(2){
	margin-left:1rem!important;
	margin-right:1rem!important;
	margin-top: -0.5rem!important;
}

.navbar-nav{
	text-align: center;
	height:70px;
}

.navbar-nav li{
}

.tabela1{
	width: 645px;
}

.tabela1 button{
	margin-bottom:8px;
}

}


/*######### FIM MOBILE #########*/
